
<div>
  <div nz-row
       nzJustify="center" nzType="flex" >
    <h1 style="color:#3F51B5 ;text-align: center;margin-top: 80px;margin-bottom: 40px;" >Login</h1>
  </div>
  <form #form=ngForm>
    <div nz-row
         nzJustify="center" nzType="flex">
      <nz-alert
        style="width: 300px;margin-top: 10px;margin-bottom: 30px;"
        nzType="error"
        *ngIf="error"
        [nzMessage]="error+ '!!' "
        nzDescription="Try Again"

      >
      </nz-alert>

    </div>

    <div  nz-row
          nzJustify="center" nzType="flex">
      <nz-input-group style="width: 250px; margin-bottom: 20px;" [nzAddOnBeforeIcon]="'user'">
        <input nz-input placeholder="Username"  ngModel required name="username" />
      </nz-input-group>  <br />
    </div>

    <div nz-row
         nzJustify="center" nzType="flex">
      <nz-input-group style="width: 250px; margin-bottom: 20px;" [nzAddOnBeforeIcon]="'lock'">
        <input nz-input type="password" placeholder="Password"  ngModel required name="password" />
      </nz-input-group>
    </div>

    <div nz-row   [nzGutter]="{ xs: 8, sm: 16, md: 16, lg: 16, xl: 16, xxl: 16 }"
         nzJustify="center" nzType="flex">
      <div nz-col>  <button nz-button nzType="primary" [disabled]="!form.valid" (click)="login(form.value)" >Login</button></div>
      <div nz-col>  <button nz-button nzType="danger" >Reset</button></div>
    </div>
  </form>





</div>
